<td>{{ movie.id }}</td>
<td>{{ movie.title }}</td>
<td>
  <img
    class="picture"
    src="{{ movie.picture }}"
    alt="{{ movie.title }}"
    width="400px"
  />
</td>
<td>{{ movie.genre }}</td>
<td>{{ movie.descriptif }}</td>
<td>
    <a href="#" [routerLink]="['/movie/', movie.id]" ><button>Detail</button></a>
</td>
<td><button (click)="handleDelete()">Supprimer</button></td>
<td>
  <a [routerLink]="['/update', movie.id]"><button>Mettre a jour</button></a>
</td>
<!-- <td><button (click)="addBorrow(movie?.id)">Emprunter</button></td> -->
