.container {
  text-align: center;
}
.formDisabled {
  background-color: rgb(179, 179, 179);
  cursor: not-allowed;
}


.form-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-style input {
  width: 250px;
  height: 30px;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgb(176, 134, 134);
}
.invalidInput {
  color: red;
}

.btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn:before,
.btn:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgba(251,75,2,1);
  box-shadow:
   -7px -7px 20px 0px rgba(255,255,255,.9),
   -4px -4px 5px 0px rgba(255,255,255,.9),
   7px 7px 20px 0px rgba(0,0,0,.2),
   4px 4px 5px 0px rgba(0,0,0,.3);
  transition: all 0.3s ease;
}
.btn:before{
   height: 0%;
   width: 2px;
}
.btn:after {
  width: 0%;
  height: 2px;
}
.btn:hover{
  color: rgba(251,75,2,1);
  background: transparent;
}
.btn:hover:before {
  height: 100%;
}
.btn:hover:after {
  width: 100%;
}
.btn span:before,
.btn span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgba(251,75,2,1);
  box-shadow:
   -7px -7px 20px 0px rgba(255,255,255,.9),
   -4px -4px 5px 0px rgba(255,255,255,.9),
   7px 7px 20px 0px rgba(0,0,0,.2),
   4px 4px 5px 0px rgba(0,0,0,.3);
  transition: all 0.3s ease;
}
.btn span:before {
  width: 2px;
  height: 0%;
}
.btn span:after {
  height: 2px;
  width: 0%;
}
.btn span:hover:before {
  height: 100%;
}
.btn span:hover:after {
  width: 100%;
}