<div class="containerHome">
  <div class="titleHome">
    <h1>Bienvenue sur le FilmOtire</h1>
  </div>
  <div class="explication">
    <p>
      Le site FilmOtire est une filmothèque du projet 4 de la WildCodeSchool.
    </p>
    <p>
      Le language utilisé est Angular 14 pour la partie Front-end. Pour la
      partie Back-end Java a été utilisé avec le framework Spring-Boot.
    </p>
    <p>
      L'obectif de ce projet sur 4 jours est de développer une application avec
      un CRUD.
    </p>
    <img
      class="imageHome"
      src="https://thumbs.gfycat.com/ExaltedNaughtyCanvasback-size_restricted.gif"
      alt="platine de film"
    />
    <p>Sur cette application, l'utilisateur unique peut:</p>
    <ul class="listeCritère">
      <li>Découvrir la liste complète des films de la filmothèque</li>
      <li>Voir une fiche détaillé sur un film</li>
      <li>Ajouter un nouveau film</li>
      <li>Modifier un film</li>
      <li>Supprimer un film</li>
      <br />
      <li>il peut également emprunter un film ou le rendre</li>
      <li>et voir la liste des films empruntées</li>
    </ul>
    <p>Bonne visite!!!</p>
  </div>
</div>
<br />
<br />
<p>© OtireEntertainment</p>
