<div>
  <div>
    <a [routerLink]="['/create']"><button>ADD NEW MOVIE</button></a>
  </div>
  <table class="list">
    <thead class="list">
      <tr class="list">
        <th>id</th>
        <th>title</th>
        <th>picture</th>
        <th>genre</th>
        <th>descriptif</th>
        <th>delete</th>
        <th>update</th>
      </tr>
    </thead>
    <tbody class="list">
      <tr class="list">
        <app-movie-list-item
          *ngFor="let movie of moviesList"
          [movie]="movie"
          (refresh)="refreshMoviesList()"
        >
    </app-movie-list-item>
      </tr>
    </tbody>
  </table>
</div>
