<div class="listContainer">
  <div>
    <a [routerLink]="['/create']"><button class="btn">ADD NEW MOVIE</button></a>
  </div>
  <table class="list">
    <thead class="list">
      <tr class="list">
        <th class="th">id</th>
        <th class="th">title</th>
        <th class="th">picture</th>
        <th class="th">genre</th>
        <th class="th">descriptif</th>
        <th class="th">Detail</th>
        <th class="th">delete</th>
        <th class="th">update</th>
        <th class="th">emprunter</th>
      </tr>
    </thead>
    <tbody class="list">
      <tr
        class="list"
        app-movie-list-item
        *ngFor="let movie of moviesList"
        [movie]="movie"
        (refresh)="refreshMoviesList()"
      ></tr>
    </tbody>
  </table>
</div>
