<div class="listContainer">
  <div>
    <a [routerLink]="['/create']"><button class="btn">AJOUTER UN FILM</button></a>
  </div>
  <table class="list">
    <thead class="list">
      <tr class="list">
        <th class="th">ID</th>
        <th class="th">Titre</th>
        <th class="th">JAQUETTE</th>
        <th class="th">GENRE</th>
        <th class="th">DESCRIPTIF</th>
        <th class="th">DETAIL</th>
        <th class="th">SUPPRIMER</th>
        <th class="th">MISE A JOUR</th>
        <th class="th">EMPRUNTER</th>
      </tr>
    </thead>
    <tbody class="list">
      <tr
        class="list"
        app-movie-list-item
        *ngFor="let movie of moviesList"
        [movie]="movie"
        (refresh)="refreshMoviesList()"
      ></tr>
    </tbody>
  </table>
</div>
