.navbar {
    background-color: rgb(57, 56, 56);
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: x-large;
}

.navbar-nav :hover {
    color:rgb(255, 255, 255)
}
.nav-item{
    margin-left: 55px;
}

.logo {
    width: 100px;
    height: auto;
    margin-left: 400px;
filter: grayscale(1);
-webkit-filter: grayscale(1);
}

.logo:hover {
filter: grayscale(0);
-webkit-filter: grayscale(0);
}
