<div class="formContainer">
  <h2>Update Movie</h2>
  <a href="#" routerLink="/movies" class="btn">RETOUR</a>

  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-style">
      <label for="title">Title :</label>
      <input
        formControlName="title"
        id="title"
        type="text"
        class="form-style"
      />

      <div
        *ngIf="f['title'].touched && f['title'].invalid"
        class="invalidInput"
      >
        <div *ngIf="f['title'].errors && f['title'].errors['required']">
          Title is required.
        </div>
      </div>
    </div>
    <div class="form-style">
      <label for="picture">Picture :</label>
      <input
        formControlName="picture"
        id="picture"
        type="url"
        class="form-style"
      />

      <div
        *ngIf="f['picture'].touched && f['picture'].invalid"
        class="invalidInput"
      >
        <div *ngIf="f['picture'].errors && f['picture'].errors['required']">
          Url is required.
        </div>
      </div>
    </div>
    <div class="form-style">
      <label for="genre">Genre :</label>
      <input formControlName="genre" id="genre" type="url" class="form-style" />

      <div
        *ngIf="f['genre'].touched && f['genre'].invalid"
        class="invalidInput"
      >
        <div *ngIf="f['genre'].errors && f['genre'].errors['required']">
          Genre is required.
        </div>
      </div>
    </div>
    <div class="form-style">
      <label for="descriptif">Descriptif :</label>
      <textarea
        formControlName="descriptif"
        id="descriptif"
        type="url"
        class="form-style"
      >
      </textarea>
      <div
        *ngIf="f['descriptif'].touched && f['descriptif'].invalid"
        class="invalidInput"
      >
        <div
          *ngIf="f['descriptif'].errors && f['descriptif'].errors['required']"
        >
          Descriptif is required.
        </div>
      </div>
    </div>

    <button class="btn" type="submit" [disabled]="!form.valid">VALIDER</button>
  </form>
</div>
